@import 'constants/constans.scss';

.details {
  .users {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: toRem(24);
    margin-bottom: toRem(24);
  }

  .info {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: toRem(24);
    margin-bottom: toRem(24);

    &_item {
      &:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
      }
      &:nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;
      }
      &:nth-child(3) {
        grid-area: 1 / 3 / 2 / 4;
      }
      &:nth-child(4) {
        grid-area: 2 / 1 / 3 / 4;
      }
      &:nth-child(5) {
        grid-area: 3 / 1 / 4 / 4;
      }

      .label {
        color: $mainColor;
        font-size: toRem(14);
        margin-bottom: toRem(6);
      }

      .text {
        font-size: toRem(16);
        color: $dark;
      }

      .attachment_btn {
        height: toRem(40);

        [data-theme='dark'] & {
          border: toRem(1) solid rgba(#fff, 0.08);
          background: $grey_misty_36;
        }
      }
    }
  }
}

.form {
  width: 100%;
  @include flexRow(center, flex-end);
  border-top: toRem(1) solid $grey_pale;
  padding: toRem(24) 0;

  .submit_btn {
    margin-left: toRem(24);
  }
}
